# Environment
.env

# Python cache and bytecode files
__pycache__/
*.pyc

# Database files
db.sqlite3

# Media and static files
media/
staticfiles/

# Log files
*.log

# IDE/editor configs
.vscode/
.idea/

# Large media/video files
*.mp4

# OS files
.DS_Store
Thumbs.db
# Python virtual environment
# .gitignore

falcon_clone/settings/local.py
.env
