{% extends 'main/base.html' %}
{% load static %}

{% block title %}Доставка і оплата — Falcon Optics{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Доставка і оплата</h1>

    <section>
        <h2>Умови доставки</h2>
        <p>Ми пропонуємо доставку по всій Україні через надійних перевізників: Нова Пошта та інші.</p>
        <ul>
            <li>Строки доставки: від 1 до 3 робочих днів.</li>
            <li>Вартість доставки залежить від обраного оператора.</li>
            <li>Можливість отримання товару при зустрічі в Києві, що дає змогу перевірити якість товару</li>
        </ul>
    </section>

    <section class="mt-4">
        <h2>Способи оплати</h2>
        <p>Ми приймаємо оплату наступними способами:</p>
        <ul>
            <li>Оплата при зустрічі.</li>
            <li>Оплата карткою онлайн (Visa, MasterCard).</li>
            
        </ul>
    </section>

    <section class="mt-4">
        <h2>Питання та підтримка</h2>
        <p>Якщо у вас виникли питання щодо доставки або оплати, будь ласка, зв'яжіться з нашою підтримкою.</p>
        <a href="{% url 'support' %}" class="btn btn-primary mt-3">Зв’язатися з підтримкою</a>
    </section>
</div>
{% endblock %}
